.article-wrap {
  margin: 40px;
  news-title {
    font-size: 40px;
  }

  .news-description {
    font-size: 20px;
  }

  thin-print {
    display: block;
    margin-top: 5px;
  }

  .news-img {
    width: 100%;
    margin-top: 20px;
  }

  .news-content {
    margin: 20px 0;
  }
}
