.masthead-box {
  .paper-name-box {
    .weather {
    }
    .paper-name {
      text-align: center;
      font-family: "Playfair Display";
    }
  }

  .paper-calendar {
    border: 1px solid;
    text-align: center;
    font-family: "Playfair Display";

    border-right-width: 12px;
    border-left-width: 12px;
  }
}
